      <div id="label-properties" class="hidden properties-container">
        <div class="sidebar-separator">{{heading}}</div>
        <div class="properties">
          <ul class="properties">
            <li id="no-label" class="property warning hidden"><span class="property">No label</span></li>
            <li id="label-for" class="property hidden">
              <span class="property">label-for</span>:
              <span id="label-for-value"></span>
            </li>
            <li id="label-wrapped" class="property hidden">
              <span class="property">label-wrapped</span>:
              <span id="label-wrapped-value"></span>
            </li>
            <li id="aria-label" class="property hidden">
              <span class="property">aria-label</span>:
              <span id="aria-label-value"></span>
            </li>
            <li id="aria-labelledby" class="property hidden">
              <span class="property">aria-labelledby</span>:
              <span id="aria-labelledby-value"></span>
            </li>
            <li id="alt" class="property hidden">
              <span class="property">alt</span>:
              <span id="alt-value"></span>
            </li>
            <li id="title" class="property hidden">
              <span class="property">title</span>:
              <span id="title-value"></span>
            </li>
          </ul>
        </div>
      </div>
