/* content */

.main-content {
  visibility: hidden;
  opacity: 0;
}

.main-content.show {
  visibility: visible;;
  opacity: 1;
}


.content {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.content-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-item {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}
.content-item.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

.wrapper {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 2rem;
}

.content header .wrapper {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}
@media (min-width: 940px) {
  .content header .wrapper {
    padding-top: 4rem;
  }
}


/* Section */

.content-item > section:first-of-type {
  margin-top: 2rem;
}
.content-item > section:last-of-type {
  margin-bottom: 2rem;
}
@media (min-width: 940px) {
  .content-item > section:last-of-type {
    margin-bottom: 4rem;
  }
}


/* Icon */

.content .icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: .5em;
}


/* Support */

.support {
  margin-top: .2em;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.support-divider {
  margin: 0 .5em;
}


/* Pro tip */

.pro-tip {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 1px solid hsla(0,0%,0%,.06);
  border-radius: 6px;
}

.pro-tip strong {
  font-weight: 600;
}

.pro-tip.pro-tip h2 {
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: .5em;
}


/* Demo */

.demo {
  display: flex;
  align-items: center;
}

.demo-button {
  align-self: flex-start;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em 1.2em;
}
.demo-button:focus {
  outline: none;
}

.demo-response {
  flex: 1;
  word-break: break-word;
}

.demo-input {
  flex: 1;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em .8em;
}
.demo-input:focus {
  outline: none;
}


/* Code */

pre {
  font-size: 13px;
  overflow: auto;
  padding: 1em;
  margin: 0;
  border-radius: 4px;
  border: 1px solid;
}

code {
  font-family: 'Source Code Pro', monospace;
  border-radius: 4px;
  padding: 1px 4px;
  white-space: nowrap;
}

pre code {
  white-space: pre;
}



/* Clicky */

.toggle-button {
  position: relative;
  display: block;
  margin: 0;
  padding: .5em 1.5em;
  line-height: 1.5;
  font: inherit;
  font-weight: 600;
  font-size: 1.2em;
  text-align: left;
  border: none;
  color: inherit;
  background-color: transparent;
  transition: border-color .12s;
  outline: none;
}

.toggle-button:before,
.toggle-button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 50%;
  background-color: hsl(0,0%,88%);
  transition: transform .2s cubic-bezier(.4,.1,0,1);
}
.toggle-button:before {
  top: 0;
  transform-origin: bottom center;
  transform: translateX(.7em) rotate(-30deg) scale(.75);
}
.toggle-button:after {
  bottom: 0;
  transform-origin: top center;
  transform: translateX(.7em) rotate(30deg) scale(.75);
}
.active .toggle-button:before,
.active .toggle-button:after {
  transform: rotate(0deg);
}
.toggle-button:focus:before,
.toggle-button:focus:after {
  background-color: currentColor;
}



/* External link */

.exlink::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: -3px;
  margin-left: 3px;
  text-decoration: none;
  background: url(../img/link-external.svg) no-repeat top right;
  background-size: auto 100%;
}

.exlink:hover,
.exlink:focus {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}


/* TOGGLE! */

.toggle-content {
  display: none;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 6px;
  border: 1px solid;
}

.active .toggle-content {
  display: block;
  animation: toggle-content-fade-in .2s cubic-bezier(0, .20, .20, .96);
}
@keyframes toggle-content-fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.toggle-content > p:first-child {
  margin-top: 0;
}

.non-toggle-content {
  padding-bottom: 20px;
}

.toggle-content button {
  margin-right: 1em;
}

.toggle-content h5 {
  font-size: 1em;
  margin-bottom: .6em;
}


/* Pointy arrow */

.toggle-content:before {
  content: "";
  position: absolute;
  top: -11px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border-top: inherit;
  border-right: inherit;
  border-top-right-radius: 3px;
  transform: rotate(-45deg);
}

/* Hacks --------------------- */

/* Fixes horizontal scrolling in code blocks on OS X El Cap (10.11.3), retina screen
 *
 * By adding an invisible outline property, it will force a repaint
 * which enables the scrolling.
 */

.hljs:hover,
.hljs:active {
  outline: 1px solid transparent;
}
