
/* Index */


/* Sections */

.index section {
  position: relative;
  color: #fff;
  overflow: auto;
  padding: 3em 0
}

.index .meta {
  text-transform: uppercase;
  font-size: .9em;
  color: hsla(0,0%,0%,.5);
  margin: 0 0 .5em 0;
}

/* Clicky Blocks */

.block {
  display: block;
  margin: 0;
  padding: 1.5em;
  border-top: 1px solid hsla(0,0%,0%,.15);
  cursor: pointer;
}
.block:hover,
.block:focus {
  background-color: hsla(0,0%,0%,.1);
  border-color: transparent;
}
.block:active {
  background-color: hsla(0,0%,0%,.05);
}
.block:focus {
  outline: none;
}

.block h2 {
  margin: 0 0 .25em 0;
  font-weight: 600;
}

.block p {
  margin: 0;
  color: hsl(0,0%,30%);
}
