/* Nav */

.nav {
  width: 33vw;
  min-width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-header {
  padding: 2em 0 1em 2vw;
}

.nav-title {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
}

.nav-item {
  padding: .5em 0;
}

.nav-category {
  margin: 0;
  padding-left: 2vw;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

.nav-link {
  margin: 0;
  padding: .5em 1em .6em 3vw;
  line-height: 1;
  font-size: 1em;
  font-weight: normal;
  cursor: default;
}

.nav-link:first-of-type {
  border-top: 1px solid hsla(0,0%,0%,.1);
}

.nav-link em {
  font-style: normal;
  font-weight: 600;
}
