/* Nav */

.nav {
  width: 33vw;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 0;
}

.nav-header {
  padding: 1em 1em 1em 2em;
}

.nav-title {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
}

.nav-item {
  padding: .5em 0 .5em 2em;
}

.nav-category {
  margin: 0;
  font-size: .8em;
  font-weight: 600;
  color: hsla(0,0%,0%,.36);
  text-transform: uppercase;
  border-bottom: 1px solid hsla(0,0%,0%,.1);
}

.nav-link {
  margin: 0;
  padding: .5em 1.5em;
  line-height: 1;
  font-size: 1em;
  font-weight: normal;
  cursor: default;
}
.nav-link:hover {
  background-color: hsla(0,0%,0%,.1);
}

.nav-link em {
  font-style: normal;
  color: #294f56;
  font-weight: 600;
}

.is-selected.nav-link,
.is-selected.nav-link em {
  color: #fff;
}
