/* Content ------------------ */
/* TODO: Move somewhere else */

.content {
  flex: 1;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.content.show {
  visibility: visible;;
  opacity: 1;
}

.content h3,
.content p {
  color: var(--color);
}

/* Section ------------------ */

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-accent);

  /* Hide */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}
.section.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

.section-wrapper {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 2rem 1rem 2rem;
  border-bottom: 1px solid var(--color-border);
}
@media (min-width: 940px) {
  .section-wrapper {
    padding-top: 4rem;
  }
}


/* Demo */

.demo:first-of-type {
  margin-top: 2rem;
}
.demo:last-of-type {
  margin-bottom: 2rem;
}
@media (min-width: 940px) {
  .demo:last-of-type {
    margin-bottom: 4rem;
  }
}

.demo-wrapper {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 2rem;
}


/* Icon */

.content .icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: .5em;
}


/* Support */

.support {
  margin-top: .2em;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-subtle);
}
.support-divider {
  margin: 0 .5em;
}


/* Pro tip */

.pro-tip {
  margin-top: 2rem;
  padding: 1.5rem 2rem 2rem 2rem;
  border: 1px solid hsla(0,0%,0%,.06);
  border-radius: 6px;
  background: var(--color-accent) linear-gradient(hsla(0,0%,100%,.85), hsla(0,0%,100%,.85));
}

.pro-tip.pro-tip h2 {
  margin: 0 0 .5rem 0;
}

.pro-tip strong {
  font-weight: 600;
}


/* Demo */

.demo-controls {
  display: flex;
  align-items: center;
}

.demo-button {
  align-self: flex-start;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em 1.2em;
  color: inherit;
  background-color: transparent;
}
.demo-button:focus {
  outline: none;
  background-color: white;
}
.demo-button:active {
  border-color: var(--color-border);
}

.demo-response {
  flex: 1;
  word-break: break-word;
}

.demo-input {
  flex: 1;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em .8em;
  color: inherit;
  background-color: transparent;
}
.demo-input:focus {
  outline: none;
  border-color: hsl(0,0%,80%);
  background-color: white;
}


/* Code */

code {
  font-family: 'Source Code Pro', monospace;
  border-radius: 4px;
  padding: 1px 4px;
  white-space: nowrap;
  color: hsl(0,0%,36%);
  background-color: hsla(0,0%,60%,.15);
}

pre {
  font-size: 13px;
  overflow: auto;
  padding: 1em;
  margin: 0;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--color-border);
  background-color: white;
}

pre code {
  white-space: pre;
}

pre > .hljs {
  color: var(--color-subtle);
  background-color: white;
}



/* Toggle Button */

.demo-toggle-button {
  position: relative;
  display: block;
  margin: 0;
  padding: .5em 1.5em;
  line-height: 1.5;
  font: inherit;
  font-weight: 600;
  font-size: 1.2em;
  text-align: left;
  border: none;
  color: inherit;
  background-color: transparent;
  transition: border-color .12s;
  outline: none;
}

.demo-toggle-button:before,
.demo-toggle-button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 50%;
  background-color: hsl(0,0%,88%);
  transition: transform .2s cubic-bezier(.4,.1,0,1);
}
.demo-toggle-button:before {
  top: 0;
  transform-origin: bottom center;
  transform: translateX(.7em) rotate(-30deg) scale(.75);
}
.demo-toggle-button:after {
  bottom: 0;
  transform-origin: top center;
  transform: translateX(.7em) rotate(30deg) scale(.75);
}
.active .demo-toggle-button:before,
.active .demo-toggle-button:after {
  transform: rotate(0deg);
}
.demo-toggle-button:focus:before,
.demo-toggle-button:focus:after {
  background-color: currentColor;
}



/* External link */

.exlink::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: -3px;
  margin-left: 3px;
  text-decoration: none;
  background: url(../img/link-external.svg) no-repeat top right;
  background-size: auto 100%;
}

.exlink:hover,
.exlink:focus {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}


/* TOGGLE! */

.demo-box {
  display: none;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
}

.active .demo-box {
  display: block;
  animation: demo-box-fade-in .2s cubic-bezier(0, .20, .20, .96);
}
@keyframes demo-box-fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.demo-box > p:first-child {
  margin-top: 0;
}

.demo-box button {
  margin-right: 1em;
}

.demo-box h5 {
  font-size: 1em;
  margin-bottom: .6em;
}

/* Demo Box arrow */
.demo-box:before {
  content: "";
  position: absolute;
  top: -11px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border-top: inherit;
  border-right: inherit;
  border-top-right-radius: 3px;
  transform: rotate(-45deg);
}

/* Hacks --------------------- */

/* Fixes horizontal scrolling in code blocks on OS X El Cap (10.11.3), retina screen
 *
 * By adding an invisible outline property, it will force a repaint
 * which enables the scrolling.
 */

.hljs:hover,
.hljs:active {
  outline: 1px solid transparent;
}
