/* Global */

html {
  height: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
   overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Utilities */

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2em;
}

.avoid-clicks {
  pointer-events: none;
}

a.no-dec {
  text-decoration: none;
  color: inherit;
}
