
/* Fonts */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(fonts/SourceSansPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(fonts/SourceSansPro-Semibold.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(fonts/SourceSansPro-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(fonts/SourceSansPro-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}


/* Global */

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.8em;
  color: #45828E;
  background-color: #DBF6FB;
  font-size: 15px;
  margin: 0 auto;
}

header {
  padding: 4em 0;
}

header h1,
header h3 {
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: 3.2em;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}

button {
  margin-right: 10px;
}


/* Utilities */

.wrapper {
  width: 700px;
  margin: 0 auto;
}

.avoid-clicks {
  pointer-events: none;
}

a.no-dec {
  text-decoration: none;
  color: inherit;
}


/* Colors */

.window        { background-color: #8aba87; }
.menu          { background-color: #76DEB4; }
.native-ui     { background-color: #3DA6AB; }
.communication { background-color: #7696de; }
.system        { background-color: #76dec8; }
.printing      { background-color: #76c8de; }

.pro-tip       { background-color: #00d683; }

.task-page .native-ui + .task-page .native-ui {
  background-color: #5C8E9A;
}

.task-page .native-ui + .task-page .native-ui + .task-page .native-ui {
  background-color: #79d9ca;
}
