/* Global */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  background-color: #fff; /* To cover OSes with no default background color */
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 0 1px 1px 0;
}
th {
  background-color: hsla(0,0%,50%,.06);
}
th,
td {
  text-align: center;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 1px 0 0 1px;
}

svg {
  fill: currentColor;
}

/* Utilities */

.avoid-clicks {
  pointer-events: none;
}

a.no-dec {
  text-decoration: none;
  color: inherit;
}
