
/* Task page */

.task-page {
  color: #fff;
}

.task-page a {
  color: #3F9498;
}

.task-page header {
  background-image: linear-gradient(to bottom, hsla(0,0%,100%,.2), hsla(0,0%,100%,.2));
}

.task-page h3 {
  color: hsla(0,0%,0%,.5);
}

.task-page code {
  color: rgba(51, 51, 51, 0.64);
}

.task-page input {
  font-size: 14px;
  border: none;
  padding: 14px 19px;
  width: 300px;
  font-family: 'Source Sans Pro';
  vertical-align: top;
  border-radius: 3px;
}

/* Clicky */

.task-page h2 {
  display: block;
  margin: 0;
  padding: 1em;
  line-height: 1.5;
  font-weight: 600;
  border-bottom: 1px solid hsla(0,0%,0%,.1);
}
.task-page h2:hover,
.task-page h2:focus {
  border-color: transparent;
  background-color: hsla(0,0%,0%,.06);
}
.task-page h2:active {
  background-color: hsla(0,0%,0%,.1);
}
.task-page h2:focus {
  outline: none;
}

.sections section:last-child h2 {
  /*border-bottom: none;*/
}


/* Nav */

.nav {
  margin-bottom: 1em;
}

.nav a {
  font-size: 1.2em;
  color: hsla(0,0%,100%,.75);
}
.nav a:hover,
.nav a:focus {
  color: hsla(0,0%,100%,1);
}
.nav a:active {
  color: hsla(0,0%,100%,.5);
}
.nav a:focus {
  outline: none;
}

.back::before {
  content: "〈 ";
  margin-left: -.3em;
  margin-right: .1em;
}
.back:hover::before,
.back:focus::before {
  margin-left: -.4em;
  margin-right: .2em;
}


/* Misc */

.support {
  margin-top: .5em;
  font-size: 13px;
  color: hsla(0,0%,0%,.45);
  text-transform: uppercase;
  text-shadow: none;
}

.pro-tip {
  padding: 1.5em 0;
}

.pro-tip h2 {
  border: none;
  padding: 0;
}


/* Button */

button {
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  color: inherit;
  padding: .4em 1.2em;
  background-color: inherit;
}
button:hover,
button:focus {
  background-color: hsla(0,0%,0%,.1);
}
button:active {
  background-color: hsla(0,0%,0%,.05);
}
button:focus {
  outline: none;
}


/* Code */

pre {
  background: #f8f8f8;
  color: #333;
  font-size: 13px;
  overflow: auto;
  padding: 1em;
  margin: 0;
  border-radius: 4px;
}

code {
  font-family: 'Source Code Pro', monospace;
  border-radius: 4px;
<<<<<<< HEAD
  padding: 1px 4px 3px 4px;
  background-color: #F7F7F7;
=======
  padding: 1px 4px;
  background-color: #C1C1C1;
  white-space: nowrap;
>>>>>>> master
}

pre code {
  white-space: pre;
}

/* TOGGLE! */

.toggle-content {
  display: none;
  position: relative;
  padding: 2em;
  background-color: hsla(0,0%,0%,.08);
}

.active .toggle-content {
  display: block;
}

.non-toggle-content {
  padding-bottom: 20px;
}

.toggle-content button {
  margin-right: 1em;
}

.toggle-content h5 {
  font-size: 1em;
  margin-bottom: .6em;
}


/* Pointy arrow */

.active h2 {
  border-bottom: none;
}

.active h2:hover + .toggle-content:before {
  visibility: hidden;
}

.toggle-content:before {
  content: "";
  position: absolute;
  border: 1em solid;
  border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsla(0,0%,0%,.08) hsla(0, 0%, 0%, 0);
  top: -2em;
}
