
/* Task page */

.task-page {
  color: #fff;
}

/* Clicky */

.task-page h2 {
  display: block;
  margin: 0;
  padding: 1em;
  line-height: 1.5;
  font-weight: 600;
  border-top: 1px solid hsla(0,0%,0%,.15);
  cursor: pointer;
}
.task-page h2:hover,
.task-page h2:focus {
  background-color: hsla(0,0%,0%,.1);
  border-color: transparent;
}
.task-page h2:active {
  background-color: hsla(0,0%,0%,.05);
}
.task-page h2:focus {
  outline: none;
}

.support {
  margin-top: .5em;
  font-size: 12px;
  color: hsl(0,0%,30%);
  text-transform: uppercase;
}

.pro-tip {
  padding: 1.5em 0;
}

.pro-tip h2 {
  border: none;
  padding: 0;
}


/* Code */

pre {
  background: #f8f8f8;
  color: #333;
  font-size: 12px;
  overflow: auto;
  padding: 10px;
  margin: 0;
}

code {
  font-family: 'Source Code Pro', monospace;
}


/* TOGGLE! */

.toggle-content {
  display: none;
  padding: 2em;
  background-color: hsla(0,0%,100%,.1);
}

.non-toggle-content {
  padding-bottom: 20px;
}

.toggle-content p {
  margin: 0;
}

.active .toggle-content {
  display: block;
}
